# Projet DALAS
## Donn√©es pollution pays
### SOYKOK Aylin 28711545 - CELIK Simay 28713301

In [1]:
import bs4
import lxml
import pandas as pd
import urllib

from urllib import request

C:\Users\PC\AppData\Local\Temp\ipykernel_28212\633652058.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# pays
url = 'https://www.numbeo.com/pollution/'
req = request.urlopen(url).read()
page = bs4.BeautifulSoup(req, "lxml")
pays_list = page.find_all('option')

pays_list = [p.text for p in pays_list if p.get('value')]
pays_list

['Afghanistan',
 'Aland Islands',
 'Albania',
 'Alderney',
 'Algeria',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua And Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bonaire',
 'Bosnia And Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Falkland Islands',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'French Southern Territories',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong (China)',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle Of Man',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo (Disputed Territory)',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao (China)',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norfolk Island',
 'North Korea',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of the Congo',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Helena',
 'Saint Kitts And Nevis',
 'Saint Lucia',
 'Saint Vincent And The Grenadines',
 'Saint-Pierre And Miquelon',
 'Samoa',
 'San Marino',
 'Sao Tome And Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad And Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks And Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Us Virgin Islands',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Wallis And Futuna',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [3]:
df = pd.DataFrame()
df["Country"] = pays_list
df

               Country
0          Afghanistan
1        Aland Islands
2              Albania
3             Alderney
4              Algeria
..                 ...
229  Wallis And Futuna
230     Western Sahara
231              Yemen
232             Zambia
233           Zimbabwe

[234 rows x 1 columns]

Scraping the link for each country one by one

In [11]:
def find_table(url):
    req = request.urlopen(url).read()
    page = bs4.BeautifulSoup(req, "lxml")
    table = page.find('table',{"class":"table_builder_with_value_explanation data_wide_table"})
    return table

In [24]:
url_pays = 'https://www.numbeo.com/pollution/country_result.jsp?country='#Australia
#init dataframe with the first country
list_data = []
url = url = url_pays+pays_list[0].replace(" ","+")
columns = ['Country']
data = [pays_list[0]]

table = find_table(url)
columns += [td.text.strip() for td in table.find_all('td',class_='columnWithName')]
print(columns)
data +=  [float(td.text.strip()) for td in table.find_all('td',class_="indexValueTd" )]
list_data.append(data)

['Country', 'Air Pollution', 'Drinking Water Pollution and Inaccessibility', 'Dissatisfaction with Garbage Disposal', 'Dirty and Untidy', 'Noise and Light Pollution', 'Water Pollution', 'Dissatisfaction with Spending Time in the City', 'Dissatisfaction with Green and Parks in the City']

In [27]:
for pays in pays_list[1:]:
    url = url_pays+pays.replace(" ","+")
    table = find_table(url)
    data = [pays]
    data +=  [td.text.strip() for td in table.find_all('td',class_="indexValueTd" )]
    list_data.append(data)

In [28]:
df_pollution = pd.DataFrame(list_data,columns=columns)
df_pollution

,Country,Air Pollution,Drinking Water Pollution and Inaccessibility,Dissatisfaction with Garbage Disposal,Dirty and Untidy,Noise and Light Pollution,Water Pollution,Dissatisfaction with Spending Time in the City,Dissatisfaction with Green and Parks in the City
0,Afghanistan,77.68,63.04,73.84,68.18,55.43,73.81,75.96,64.88
1,Aland Islands,16.67,4.17,12.50,16.67,45.83,10.00,8.33,25.00
2,Albania,69.03,66.94,67.65,63.40,52.52,67.55,60.19,63.07
3,Alderney,0.00,12.50,0.00,0.00,0.00,0.00,0.00,0.00
4,Algeria,51.50,45.10,75.00,67.00,45.92,53.30,51.00,69.07
...,...,...,...,...,...,...,...,...,...
342,Wallis And Futuna,?,?,?,?,?,?,?,?
343,Western Sahara,?,?,?,?,?,?,?,?
344,Yemen,69.64,71.43,85.71,82.14,50.00,67.86,69.64,82.69
345,Zambia,55.88,68.42,84.21,78.95,72.22,94.74,79.17,61.84
346,Zimbabwe,58.02,71.05,76.36,74.56,61.82,83.64,62.27,58.33

In [29]:
df_pollution.to_csv('../data/data_pollution_init.csv', index=False)

In [30]:
#cleanup
df_pollution_clean = df_pollution.copy()
df_pollution_clean.replace('?',pd.NA,inplace=True) #changing ? to NA
df_pollution_clean.dropna(axis=0,inplace=True)
df_pollution_clean.reset_index(drop=True, inplace=True)
df_pollution_clean

,Country,Air Pollution,Drinking Water Pollution and Inaccessibility,Dissatisfaction with Garbage Disposal,Dirty and Untidy,Noise and Light Pollution,Water Pollution,Dissatisfaction with Spending Time in the City,Dissatisfaction with Green and Parks in the City
0,Afghanistan,77.68,63.04,73.84,68.18,55.43,73.81,75.96,64.88
1,Aland Islands,16.67,4.17,12.50,16.67,45.83,10.00,8.33,25.00
2,Albania,69.03,66.94,67.65,63.40,52.52,67.55,60.19,63.07
3,Alderney,0.00,12.50,0.00,0.00,0.00,0.00,0.00,0.00
4,Algeria,51.50,45.10,75.00,67.00,45.92,53.30,51.00,69.07
...,...,...,...,...,...,...,...,...,...
318,Venezuela,59.68,71.26,82.01,78.78,46.43,75.00,59.68,59.23
319,Vietnam,78.06,56.52,75.94,71.07,64.76,73.02,69.67,58.04
320,Yemen,69.64,71.43,85.71,82.14,50.00,67.86,69.64,82.69
321,Zambia,55.88,68.42,84.21,78.95,72.22,94.74,79.17,61.84
322,Zimbabwe,58.02,71.05,76.36,74.56,61.82,83.64,62.27,58.33

In [32]:
len(df_pollution_clean['Country'].unique())

218

We have 218 countries but 322 rows??

In [34]:
duplicate_rows = df_pollution_clean[df_pollution_clean.duplicated(subset=['Country'])]
duplicate_rows

,Country,Air Pollution,Drinking Water Pollution and Inaccessibility,Dissatisfaction with Garbage Disposal,Dirty and Untidy,Noise and Light Pollution,Water Pollution,Dissatisfaction with Spending Time in the City,Dissatisfaction with Green and Parks in the City
92,Aland Islands,16.67,4.17,12.50,16.67,45.83,10.00,8.33,25.00
93,Albania,69.03,66.94,67.65,63.40,52.52,67.55,60.19,63.07
94,Alderney,0.00,12.50,0.00,0.00,0.00,0.00,0.00,0.00
95,Algeria,51.50,45.10,75.00,67.00,45.92,53.30,51.00,69.07
96,Andorra,28.57,0.00,10.71,25.00,28.57,18.75,15.91,31.25
...,...,...,...,...,...,...,...,...,...
192,India,64.85,52.30,66.35,62.73,58.98,68.66,59.59,52.06
193,Indonesia,60.48,47.46,64.86,56.27,50.72,62.58,54.58,52.71
194,Iran,79.83,41.46,47.52,52.42,52.21,48.64,69.99,53.33
195,Iraq,65.65,55.34,68.25,61.39,52.00,62.87,56.55,60.50
196,Ireland,24.47,27.84,38.44,47.51,36.90,37.27,22.08,27.96

In [35]:
df_pollution_clean.drop_duplicates(inplace=True)
df_pollution_clean.reset_index(drop=True, inplace=True)
df_pollution_clean

,Country,Air Pollution,Drinking Water Pollution and Inaccessibility,Dissatisfaction with Garbage Disposal,Dirty and Untidy,Noise and Light Pollution,Water Pollution,Dissatisfaction with Spending Time in the City,Dissatisfaction with Green and Parks in the City
0,Afghanistan,77.68,63.04,73.84,68.18,55.43,73.81,75.96,64.88
1,Aland Islands,16.67,4.17,12.50,16.67,45.83,10.00,8.33,25.00
2,Albania,69.03,66.94,67.65,63.40,52.52,67.55,60.19,63.07
3,Alderney,0.00,12.50,0.00,0.00,0.00,0.00,0.00,0.00
4,Algeria,51.50,45.10,75.00,67.00,45.92,53.30,51.00,69.07
...,...,...,...,...,...,...,...,...,...
213,Venezuela,59.68,71.26,82.01,78.78,46.43,75.00,59.68,59.23
214,Vietnam,78.06,56.52,75.94,71.07,64.76,73.02,69.67,58.04
215,Yemen,69.64,71.43,85.71,82.14,50.00,67.86,69.64,82.69
216,Zambia,55.88,68.42,84.21,78.95,72.22,94.74,79.17,61.84
217,Zimbabwe,58.02,71.05,76.36,74.56,61.82,83.64,62.27,58.33

In [36]:
df_pollution_clean.to_csv('../data/data_pollution.csv', index=False)