In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('../data/Direct_Investment-related_Indicators.csv')
df.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2009,F2010,F2011,F2012,F2013,F2014,F2015,F2016,F2017,F2018
0,1,Argentina,AR,ARG,CO2 emissions in exports of domestic controlle...,Metric tons of CO2,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIXD,CO2 Emissions in Exports; Of which: Exports of...,"Environment, Climate Change, Cross-Border, Dir...",...,71.211434,83.558460,79.534370,64.993731,57.385115,59.141641,56.846428,14.668454,NaN,NaN
1,2,Argentina,AR,ARG,CO2 emissions in exports of domestic controlle...,Metric tons of CO2,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIXD,CO2 Emissions in Exports; Of which: Exports of...,"Environment, Climate Change, Cross-Border, Dir...",...,1433.655594,2022.159504,2244.337944,1916.677540,1874.305223,1442.325438,1216.817160,1229.891696,NaN,NaN
2,3,Argentina,AR,ARG,CO2 emissions in exports of domestic controlle...,Metric tons of CO2,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIXD,CO2 Emissions in Exports; Of which: Exports of...,"Environment, Climate Change, Cross-Border, Dir...",...,32.800418,32.363177,31.128261,26.751951,26.115516,26.143714,22.016188,25.395741,NaN,NaN
3,4,Argentina,AR,ARG,CO2 emissions in exports of domestic controlle...,Metric tons of CO2,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIXD,CO2 Emissions in Exports; Of which: Exports of...,"Environment, Climate Change, Cross-Border, Dir...",...,67.456211,89.201459,91.336366,82.703299,77.160579,74.335338,60.709666,47.939953,NaN,NaN
4,5,Argentina,AR,ARG,CO2 emissions in exports of domestic controlle...,Metric tons of CO2,"OECD (2022), OECD FDI Statistics Database, htt...",ECBIXD,CO2 Emissions in Exports; Of which: Exports of...,"Environment, Climate Change, Cross-Border, Dir...",...,158.404920,169.111172,203.536455,222.669928,210.962388,229.553929,219.951865,223.918129,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14190 entries, 0 to 14189
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ObjectId             14190 non-null  int64
 1   Country              14190 non-null  object
 2   ISO2                 14190 non-null  object
 3   ISO3                 14190 non-null  object
 4   Indicator            14190 non-null  object
 5   Unit                 14190 non-null  object
 6   Source               14190 non-null  object
 7   CTS_Code             14190 non-null  object
 8   CTS_Name             14190 non-null  object
 9   CTS_Full_Descriptor  14190 non-null  object
 10  Sector               14190 non-null  object
 11  Scale                14190 non-null  object
 12  F2005                13562 non-null  float64
 13  F2006                13562 non-null  float64
 14  F2007                13561 non-null  float64
 15  F2008                13385 non-null  float64
 16  F2009                13388 non-null  float64
 17  F2010                13298 non-null  float64
 18  F2011                13562 non-null  float64
 19  F2012                13561 non-null  float64
 20  F2013                13572 non-null  float64
 21  F2014                13833 non-null  float64
 22  F2015                13571 non-null  float64
 23  F2016                13485 non-null  float64
 24  F2017                1719 non-null   float64
 25  F2018                1717 non-null   float64
dtypes: float64(14), int64(1), object(11)
memory usage: 2.8+ MB